@charset "utf-8";
@import url(reset.css);
@import url(layout.css);
@import url(content.css);

.blind {display:inline-block; position:absolute !important; width:1px; height:1px; margin:-1px; border:0; overflow:hidden; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%);}

/* dropdown */
.dropdown{background-color:#ebebeb; border-radius:4px; padding:20px 60px 20px 20px;}
